
@font-face {
    font-family: Roboto;
    src: url(assets/roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(assets/roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.mainBox {
    width: 1150px;
    height: 638px;
    margin: auto;
    margin-top: 80px;
    font-family: Roboto;
    border-radius: 15px;
    background-color: #003152;
    padding: 75px;
    padding-bottom: 50px;

    background-image: url(assets/cornerBands.png), url(assets/headshot.png);
    background-repeat: no-repeat;
    background-position: 1060px -70px, 850px 250px;
    background-size: 300px 300px, 450px;
}

.header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.flexBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

p, a, h1, h2, h3 {
    color: white;
}
