
@font-face {
    font-family: Roboto;
    src: url(assets/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(assets/roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.mainBox {
    width: 1150px;
    margin: auto;
    margin-top: 35px;
    font-family: Roboto;
    border-radius: 15px;
    background-color: #003152;
    padding: 75px;

    /*background-image: url(assets/cornerBands.png);
    background-repeat: no-repeat;
    background-position: 1150px -70px;
    background-size: 200px 200px;*/
}

.mainSubBox {
    margin: auto;
    font-family: Roboto;
    padding: 50px;
    padding-bottom: 30px;
    border: 2px solid white ;

    background-image: url(assets/headshot.png);
    background-repeat: no-repeat;
    background-position: 115% 105%;
    background-size: 475px;
}

.subBox {
    margin: auto;
    font-family: Roboto;
    padding: 50px;
    padding-bottom: 30px;
    border: 2px solid white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: white;
}

.flexBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/*p, a, h1, h2, h3 {
    color: white;
}*/

.noSpace {
    margin: 1px;
    padding: 1px;
}

a {
    text-decoration: none;
}

p {
    font-size: 105%;
}